@font-face {
    font-family: 'tex_gyre_bonumregular';
    src: url('/fonts/texgyrebonum-regular-webfont.woff') format('woff');
}

body {
  font-family: 'tex_gyre_bonumregular', Fallback, serif;
}

.header {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}

.header img {
  width: 50%;
  max-width: 250px;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 600px;
}
